html {
    height:100%;
    font-size:10px;
}

body, html {
    min-height: 100%
}

body {
    margin:0;
    font-family:Arial,Helvetica,sans-serif;
    font-size:1.6rem;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    padding: 10px;
    align-items: center;
    width: 100%;
    max-width: 1000px;
}

.header__logo {
    padding: 10px;
}

.filters {
    width: 100%;
    max-width: 1000px;
}

.charts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.charts__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1000px;
}

.charts__chart {
    padding: 5px;
}

.charts__tooltip {
    background: #000000;
    border-radius: 5px;
    padding: 5px;
    min-width: 150px;
}