:root {
  --primary-color: hsl(9, 100%, 64%);
  --primary-color--hover: hsl(9, 100%, 74%);
  --secondary-color: hsl(197, 78%, 64%);
  --secondary-color--hover: hsl(197, 78%, 74%);
  --card-background: hsl(18, 22%, 91%);
  --page-background: hsl(72, 10%, 20%);
	--page-header-text: #ffffff;
	--body-text: #000000;
	--button-border: #000000;
	--button-border--disabled: #aaaaaa;
	--button-background: transparent;
	--button-background--hover: #999999;
	--button-text: #000000;
	--button-text--disabled: #aaaaaa;
	--button-text--hover: #ffffff;
}

html {
  height: 100%;
}

body,
html {
  min-height: 100%;
  background: var(--page-background);
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 62.5rem;
  color: var(--page-header-text);
  margin: 0.25rem;
}

.header__logo {
  padding: 0.5rem;
}

.rangepicker {
  flex: 3 1 auto;
  background: var(--card-background);
  padding: 0.5rem;
  margin: 0.25rem;
  border-radius: 0.25rem;
  box-sizing: border-box;
  text-align: center;
  min-width: 20rem;
  display: flex;
  flex-direction: column;
}

.rangepicker__picker {
  display: flex;
  flex-wrap: wrap-reverse;
}

.rangepicker__buttons {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 1rem;
}

.rangepicker__button {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.infobar {
  flex: 1 1;
  display: flex;
  flex-wrap: wrap;
  background: var(--card-background);
  padding: 0.5rem;
  margin: 0.25rem;
  border-radius: 0.25rem;
  box-sizing: border-box;
  justify-content: space-around;
  text-align: center;
  min-width: 20rem;
}

.footer {
  min-width: 20rem;
  max-width: 62.5rem;
  width: 100%;
}

.footer__content {
  background: var(--card-background);
  padding: 0.5rem;
  margin: 0.25rem;
  border-radius: 0.25rem;
  box-sizing: border-box;
  text-align: center;
}

.infobar__stat {
  margin: 0.5rem;
  min-width: 9rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.infobar__stat-value {
  font-size: 3rem;
}

.charts__row,
.filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 62.5rem;
  width: 100%;
}

.charts__chart,
.filters__content {
  padding: 0.5rem;
  flex: 1;
  background: var(--card-background);
  margin: 0.25rem;
  border-radius: 0.25rem;
  min-width: 20rem;
  box-sizing: border-box;
}

.filters__filters {
  display: flex;
  flex-wrap: wrap;
  margin: -0.25rem;
  margin-bottom: 0.5rem;
}

.filters__card {
  background-color: var(--primary-color);
  color: var(--body-text);
  padding: 0.5rem;
  border-radius: 0.25rem;
  margin: 0.25rem;
  border: none;
  font-weight: normal;
  font-size: 1rem;
  cursor: pointer;
}

.filters__card:hover {
  background-color: var(--primary-color--hover);
  color: var(--body-text);
}

.filters__name,
.filters__value {
  font-weight: bold;
}

.filters__remove {
  margin-left: 0.25rem;
}

.charts__chart-wrapper {
  height: 19rem;
  display: flex;
}

.charts__title {
  margin-top: 0rem;
}

.charts__loader {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.charts__table-wrapper {
  display: flex;
  min-height: calc(2rem * var(--charts__table-row-count));
}

.charts__table {
  border-spacing: 0rem;
  min-height: 100%;
  flex: 1;
}

.charts__table-header--key {
  width: 100%;
  text-align: left;
}

.charts__table-row {
  background: linear-gradient(
    to right,
    var(--primary-color),
    var(--primary-color) var(--charts__table-row-bar-width),
    var(--card-background) var(--charts__table-row-bar-width)
  );
  cursor: pointer;
}

.charts__table-row:hover {
  background: linear-gradient(
    to right,
    var(--primary-color--hover),
    var(--primary-color--hover) var(--charts__table-row-bar-width),
    var(--card-background) var(--charts__table-row-bar-width)
  );
}

.charts__table-header {
  padding: 0.25rem;
}

.charts__table-cell {
  padding: 0.25rem;
  border-bottom: 0.25rem solid var(--card-background);
}

.topbar {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-around;
  max-width: 62.5rem;
  width: 100%;
}

.rangepicker__daypicker {
  flex: 4 1 auto;
  display: flex;
  justify-content: center;
  align-content: center;
}

.rangepicker__daypicker .rdp {
  --rdp-cell-size: 2rem;
  --rdp-background-color: transparent;
  --rdp-accent-color: var(--primary-color);
  --rdp-outline: 0.125rem solid #000000;
}

.rangepicker__daypicker .rdp-months {
  flex-wrap: wrap;
  justify-content: center;
}

.rangepicker__daypicker .rdp-day_selected:not([disabled]),
.rangepicker__daypicker .rdp-day_selected:focus:not([disabled]),
.rangepicker__daypicker .rdp-day_selected:active:not([disabled]),
.rangepicker__daypicker .rdp-day_selected:hover:not([disabled]) {
  background-color: var(--primary-color);
  color: var(--body-text);
  border-radius: 0;
  border: none;
}

.rangepicker__daypicker .rdp-button:hover:not([disabled]) {
  color: #000000;
  background-color: var(--primary-color--hover);
}

.rangepicker__daypicker .rdp-day {
  border-radius: 0;
}

.rangepicker__daypicker .rdp-day_disabled,
.rangepicker__daypicker .rdp-button[disabled] {
  visibility: hidden;
}

.rangepicker__daypicker .rdp-month,
.rangepicker__daypicker .rdp-month:last-child,
.rangepicker__daypicker .rdp-month:first-child {
  margin: 0.5rem;
}

.rangepicker__daypicker .rdp-nav_button {
	border-radius: 0;
}

button {
  padding: 0.25rem;
  border: 0.125rem solid black;
  background: transparent;
  font-weight: bold;
}

button[disabled] {
  border: 0.125rem solid var(--button-border--disabled);
  color: var(--button-text--disabled);
  font-weight: bold;
}

button:hover {
  background: var(--button-background--hover);
  color: var(--button-text--hover);
}

button[disabled]:hover {
  background: transparent;
  color: var(--button-text--disabled);;
}

.charts__pagination {
  display: flex;
  height: 2rem;
}

.charts__pagination-button {
  flex: 0 0 50%;
  display: flex;
  align-items: center;
}

.charts__pagination-button--prev {
  justify-content: flex-start;
}

.charts__pagination-button--next {
  justify-content: flex-end;
}
